.root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 0 4px;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px solid transparent;

    &.active, &.selectable:hover {
        border-bottom: 2px solid orange;
    }
}