.root {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        cursor: pointer;
    }
}

@media screen and (max-width: 780px) {
    .root {
        width: 60px;
    }
}